page-home {
	
	ion-content{

	}

	.bg{
		background: url(../../assets/imgs/papeldeparede_prodigiumAzul.jpg) no-repeat center;background-size:cover;

	}
	.bg-slide{
		background-color: #1d222b;
		border-radius:25px;
		color:#30edbf;
	}
	p{
	color:#fff;
	}

}
