page-home {
	
	// ion-content{

	// }

	.bg{
		background: url(../../assets/imgs/papeldeparede_prodigiumAzul.jpg) no-repeat center;background-size:cover;

	}
	.bg-slide{
		background-color: #1d222b;
		border-radius:25px;
		color:#30edbf;
	}
	p{
	color:#fff;
	padding: 5px;
	}
	.content-md {
        /* color: #f3f3f3; */
        background-color: #dcdcdc!important;
	}
	.item-md {
		background-color: #dcdcdc!important;
		font-weight: 600;
		color:#5f5f5f;

	}
}
