page-dicas {
    ion-content{
		background: #232933 !important
    }
    h2{
        color: #30edbf;
    }
    p{
        color: #737373;
    }
     ul li{
        color: #989898;
    }
    .card-header-md {
        color: #30edbf!important;
    }
    .card-md {
        background: #1c2129!important;
        font-weight: 500;
    }
    .content-md {
        color: #e8e8e8;
        background-color: #fff;
    }
}
